/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  overflow-y: scroll;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #003366;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.search {
  padding: 8px;
  flex-grow: 1;
  margin: 0 20px;
}

.login-button {
  background-color: #0057b7;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.content {
  flex: 1;
  padding: 20px;
}

.intro, .how-it-works, .features, .discover-more {
  margin: 20px 0;
}

.get-started-button {
  background-color: #0057b7;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1.2em;
}

.features, .discover-features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature, .discover-feature {
  flex: 1 1 200px;
  text-align: center;
  margin: 20px;
}

.feature img, .discover-feature img {
  max-width: 60px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #003366;
  color: white;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #0057b7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0041a3;
} */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
}